@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  /* background-color: #2d2d2a; */
  background: url("./cool-background.png") no-repeat fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: #2f2f2a;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
